// Nextflow work directory
workDir = '/data2/scratch/nextflow/HiFi-16S-workflow'

params {
    // Pipeline metadata
    version = false
    
    // Input options
    help = false
    input = false
    metadata = false
    
    // Processing options
    skip_primer_trim = false
    skip_nb = false
    run_picrust2 = false
    download_db = false
    skip_phylotree = false
    
    // QC parameters
    filterQ = 20
    downsample = 0
    
    // DADA2 parameters
    min_len = 1000
    max_len = 1600
    omegac = "1e-40"
    max_ee = 2
    minQ = 0
    learn_error_sample = false
    pooling_method = 'pseudo'
    error_model = 'auto'  // Error model for DADA2 learnErrors: auto, pacbio, binned, loess

    // ASV filtering parameters
    min_asv_totalfreq = 5  // Will be set to 0 for single sample
    min_asv_sample = 1     // Will be set to 0 for single sample
    
    // VSEARCH parameters
    maxreject = 100
    maxaccept = 100
    vsearch_identity = 0.97
    
    // Primer sequences (V1-V9 adapter by default)
    front_p = 'AGRGTTYGATYMTGGCTCAG'
    adapter_p = 'AAGTCGTAACAAGGTARCY'
    
    // Resource allocation
    dada2_cpu = 256
    vsearch_cpu = 256
    cutadapt_cpu = 64
    
    // Database paths
    vsearch_db = "${projectDir}/databases/GTDB_ssu_all_r220.qza"
    vsearch_tax = "${projectDir}/databases/GTDB_ssu_all_r220.taxonomy.qza"
    silva_db = "${projectDir}/databases/silva_nr99_v138.2_toSpecies_trainset.fa.gz"
    gg2_db = "${projectDir}/databases/gg2_2024_09_toSpecies_trainset.fa.gz"
    gtdb_db = "${projectDir}/databases/GTDB_bac120_arc53_ssu_r220_fullTaxo.fa.gz"
    
    // Database to prioritize, can be GG2, GTDB, or Silva
    db_to_prioritize = "GG2"
    
    // Script locations
    rmd_vis_biom_script = "${projectDir}/scripts/visualize_biom.Rmd"
    rmd_helper = "${projectDir}/scripts/import_biom.R"
    primer_fasta = "${projectDir}/scripts/16S_primers.fasta"
    dadaCCS_script = "${projectDir}/scripts/run_dada_2023.2.R"
    dadaAssign_script = "${projectDir}/scripts/dada2_assign_tax.R"
    learnError_script = "${projectDir}/scripts/learnError.R"
    
    // Output options
    outdir = "${launchDir}/results"
    publish_dir_mode = "copy"
    save_intermediates = false
    colorby = "condition"
    rarefaction_depth = null

    // Container options
    enable_conda = false
    enable_container = false
    cacheDir = "/opt/conda/envs"
}

// Docker/Singularity configuration
docker {
    enabled = params.enable_container
}

singularity {
    enabled = params.enable_container
    command = '/bin/singularity.AGI'
    autoMounts = true
}

// Execution reports
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/execution_report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/execution_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/dag.html"
    overwrite = true
}

// Execution profiles
profiles {
    standard {
        conda {
            useMamba = false
            conda.enabled = true
            createTimeout = '2 h'
            cacheDir = "${params.cacheDir}"
        }
        params.enable_conda = true
        singularity.enabled = false
        docker.enabled = false
    }

    conda {
        conda {
            useMamba = false
            conda.enabled = true
            createTimeout = '2 h'
            cacheDir = "${params.cacheDir}"
        }
        params.enable_conda = true
        singularity.enabled = false
        docker.enabled = false
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${params.cacheDir}/singularity"
        singularity.runOptions = "--bind ./tmp:./tmp --bind ${params.cacheDir}:/home/qiime2"
        params.enable_container = true
        docker.enabled = false
    }

    docker {
        docker.enabled = true
        params.enable_container = true
        singularity.enabled = false
    }
}

// CPU and memory configurations
process {
    withLabel: cpu_def {
        cpus = 8
        memory = 32.GB
    }

    withLabel: cpu8 {
        cpus = 16
        memory = 64.GB
    }

    withLabel: cpu32 {
        cpus = 64
        memory = 256.GB
    }
}

// Local executor configuration
executor {
    // Change to slurm and uncomment queue if using Slurm scheduler
    name = 'Local'
    max_retries = 3
    // queue = 'QUEUE'
}

// Default process configuration
process {
    cpus = 32
    beforeScript = 'mkdir -p ./tmp/'
}

// env for qiime
env {
  TMPDIR = './tmp/'
  MPLCONFIGDIR = './tmp/mplconfigdir'
  NUMBA_CACHE_DIR = './tmp/numbacache'
  MAFFT_TMPDIR = './tmp/mafft_tmpdir'
}
